<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
@include('header')
@!section('body')

<a href="{{route('create')}}">{{route('create')}}</a>
<a href="{{route('edit')}}">{{route('edit')}}</a>
</body>
</html>
